
.LoginForm{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.LoginForm img{
    height: 100vh;
}
.LoginForm .formContainer{
    flex: 1;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.LoginForm .formContainer h1{
    font-size: 60px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;
}
.LoginForm .formContainer p{
    font-size: 16px;
    color: rgb(207, 207, 207);
    font-family: "Cal Sans", sans-serif;
    margin-bottom: 30px;
    width: 60%;
    text-align: center;
}
.LoginForm .formContainer input{
    width: 60%;
    padding: 16px 15px;
    margin-bottom: 20px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 50px;
    background-color: transparent;
    font-family: "Instrument Serif", serif;
    font-size: 16px;
}
.LoginForm .formContainer a{
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    font-family: "Cal Sans", sans-serif;
}
.LoginForm .buttonForAcc{
    display: flex;
    gap: 20px;
}
.LoginForm .secondForm, .thirdForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
}
.LoginForm .firstForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 400px;
    padding: 50px;
}
.LoginForm .firstForm h1{
    font-family: "BBH Sans Bartle", sans-serif;
    font-size: 20px;
}
.linksToOther{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}