.servicePage .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    height: 50vh;
    text-align: center;
    border-bottom: 1px solid rgb(72, 72, 72);
}
.servicePage .heading p{
    width: 700px;
    font-family: 'Poppins', sans-serif;
}
.servicePage .heading h1{
    font-size: 70px;
    font-weight: 700;
    font-family: "Instrument Serif", serif;
}
.sectionOne, .sectionTwo, .sectionThree, .sectionFour, .sectionFive, .sectionSix{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.sectionOne .leftPart, .sectionTwo .rightPart, .sectionThree .leftPart, .sectionFour .rightPart, .sectionFive .leftPart, .sectionSix .rightPart{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.sectionOne .leftPart img,.sectionTwo .rightPart img, .sectionThree .leftPart img, .sectionFour .rightPart img, .sectionFive .leftPart img, .sectionSix .rightPart img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
}
.sectionOne .leftPart .imageFrame,.sectionTwo .rightPart .imageFrame, .sectionThree .leftPart .imageFrame, .sectionFour .rightPart .imageFrame, .sectionFive .leftPart .imageFrame, .sectionSix .rightPart .imageFrame {
  width: 25vw;          
  height: 30vh;
  border-radius: 8px;
  overflow: hidden;
}

.sectionOne .rightPart, .sectionTwo .leftPart, .sectionThree .rightPart, .sectionFour .leftPart, .sectionFive .rightPart, .sectionSix .leftPart{
    width: 50%;
    height: 100%;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
    padding: 50px;
}
.sectionOne .rightPart h1, .sectionTwo .leftPart h1, .sectionThree .rightPart h1, .sectionFour .leftPart h1, .sectionFive .rightPart h1, .sectionSix .leftPart h1{
    font-size: 80px;
    font-weight: 700;
    font-family: "Instrument Serif", serif;
    margin-bottom: 20px;
}
.sectionOne .rightPart h2, .sectionTwo .leftPart h2, .sectionThree .rightPart h2, .sectionFour .leftPart h2, .sectionFive .rightPart h2, .sectionSix .leftPart h2{
    font-size: 30px;
    font-family: "Instrument Serif", serif;
    margin-bottom: 20px;
}
.sectionOne .rightPart p, .sectionTwo .leftPart p, .sectionThree .rightPart p, .sectionFour .leftPart p, .sectionFive .rightPart p, .sectionSix .leftPart p{
    width: 80%;
    font-family: 'Poppins', sans-serif;
}
.sectionSeven{
    display: flex;
    text-align: center;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(64, 64, 64);
}
.sectionSeven h1{
    font-size: 60px;
    font-weight: 700;
    color: rgb(64, 64, 64);
    font-family: "Instrument Serif", serif;
    width: 80%;
}
.sectionSeven h1 .char{
  display: inline-block;
  will-change: transform, color;
}
