.ambiance-section {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  font-family: serif;
}

/* LEFT SIDE */
.leftSide {
  width: 35%;
}

.bigTitle {
  font-size: 90px;
  margin-bottom: 10px;
  font-family: "Stack Sans Headline", sans-serif;
  font-style: italic;
  color: #666;
}

.slideCount {
  font-size: 20px;
  color: #555;
  margin-bottom: 30px;
}

.subtitle {
  width: 90%;
  line-height: 1.6;
  color: #4b4b4b;
  font-family: "Instrument Serif", serif;
  font-size: 18px;
  margin-bottom: 40px;
}

.shopBtn {
  background: #3a2a20;
  color: white;
  padding: 12px 25px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
}

/* ARROWS */
.arrows {
  display: flex;
  gap: 15px;
}

.arrows button {
  width: 45px;
  height: 45px;
  border: 1px solid #333;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease;
}
.arrows button:hover {
  background: black;
  color: white;
}

/* RIGHT SIDE / SLIDER */
.rightSide {
  width: 60%;
  overflow: hidden;
  border-radius: 10px;
}

.slider {
  display: flex;
  transition: transform 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.slide {
  min-width: 100%;
  text-align: center;
}

.slide img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
}

.slide h2 {
  margin-top: 20px;
  font-family: "Stack Sans Headline", sans-serif;
  font-size: 26px;
  font-weight: 600;
}

.slide p {
  width: 80%;
  margin: 10px auto;
  color: #666;
  font-size: 16px;
  font-family: "Instrument Serif", serif;
}


/* button */
.Details {
    display: inline-block;
    overflow: hidden;
    padding: 8px 30px;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid rgb(186, 186, 186);
    background-color: transparent;
    font-family: "Instrument Serif", serif;
    font-size: 16px;
    color: black;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.2s ease;
}
.Details:hover {
    background-color: black;
    color: white;
}
.btn-text{
    position: relative;
    display: inline-block;
    padding: 0.4rem 0;
    transition: transform 0.3s ease;
}
.btn-text::before{
    content: attr(before);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 0.4rem;
  transition: transform 0.3s ease;
}
.Details:hover .btn-text{
    transform: translateY(-100%);
}
